= simple_form_for(@admin_page) do |f|
  = f.error_notification

  .form-inputs

    = form_for @photo do |f|
      = f.hidden_field :image, value: @photo.cached_image_data
      = f.file_field :image

  .form-actions
    = f.button :submit
