h1 Listing admin_pages

table
  thead
    tr
      th
      th
      th

  tbody
    - @admin_pages.each do |admin_page|
      tr
        td = link_to 'Show', admin_page
        td = link_to 'Edit', edit_admin_page_path(admin_page)
        td = link_to 'Destroy', admin_page, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Page', new_admin_page_path
